<div class="eight wide column bg50b">
<%= form_with url: @create_order_path, id: 'payment-form', class: "ui form" do |f| %>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

  <div class="field">
  <%= f.label(:name, "Full Name") %>
  <%= f.text_field :name, id: "name", placeholder: "Your full name e.g. John Doe "%>
  </div>
  <div class="field">
  <%= f.label(:email, "Email Address") %>
  <%= f.email_field :email, data: {stripe: "email"}, placeholder: "e.g. john.doe@gmail.com" %>
  </div>
  <div class="field">
  <%= f.label(:street_address, "Street Address") %>
  <%= f.text_field :street_address, id: "street_address", placeholder: "Street address" %>
  </div>
  <div class="two fields">
  <div class="field">
  <%= f.label(:city, "City") %>
  <%= f.text_field :city, id: "city", placeholder: "City" %>
  </div>
  <div class="field">
  <%= f.label(:state, "State") %>
  <%= f.select :state, options_for_select([
      ['ACT', 'ACT'],
      ['NSW', 'NSW'],
      ['NT', 'NT'],
      ['QLD', 'QLD'],
      ['SA', 'SA'],
      ['TAS', 'TAS'],
      ['VIC', 'VIC'],
      ['WA', 'WA'],
  ]), id: "state", class: "ui selection dropdown" %>
  </div>
  </div>
  <div class="two fields">
  <div class="field">
  <%= f.label(:quantity, "Shirt Quantity") %>
  <%= f.text_field :quantity, id: "quantity" %>
  </div>
  <div class="field">
  <%= f.label(:size, "Size") %>
  <%= f.select :size, options_for_select([
      ['XS', 'XS'],
      ['S', 'S'],
      ['M', 'M'],
      ['L', 'L'],
      ['XL', 'XL'],
      ['2XL', '2XL'],
  ]), id: "size" %>
  </div>
  </div>
  <div class="grouped fields">
  <label for="delivery" style="color:white;">Delivery Method</label><br>
  <div class="field">
  <div class="ui radio checkbox">
  <%= f.label(:delivery, "Pickup") %>
  <%= f.radio_button(:delivery, "Pickup", id: "delivery") %>
  </div>
  </div>
  <div class="field">
  <div class="ui radio checkbox">
  <%= f.label(:delivery, "Post") %>
  <%= f.radio_button(:delivery, "Post", id: "delivery") %>
  </div>
  </div>
  </div>
  
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <%= f.submit "Submit Order" %>
<% end %>
</div>
<%# ############################################################################################### %>

<script>
var stripe = Stripe('pk_test_Av4EGz2o1zlJ5bgifGjh0cVp');
var elements = stripe.elements();

var style = {
  base: {
    fontSize: '16px',
    color: "#32325d",
  }
};

var card = elements.create('card', {style: style});

card.mount('#card-element');

card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      stripeTokenHandler(result.token);
    }
  });
});

function stripeTokenHandler(token) {
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  form.submit();
}

// #############################################################
$(document).ready(function(){

$('select.dropdown')
  .dropdown()
;

$('.ui.radio.checkbox')
  .checkbox()
;

});
</script>